.traffic-light {
  width: 80px;
  height: 240px;
  border-radius: 10px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
}

.red-light {
  background-color: black;
}

.yellow-light {
  background-color: black;
}

.green-light {
  background-color: black;
}
